In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('../data/historic_nfl_elo.csv')

In [17]:
df.head()

,Unnamed: 0,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,0,1920-09-26,1920,0,NaN,RII,STP,1503.947,1300.000,0.824651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1,1920-10-03,1920,0,NaN,DAY,COL,1493.002,1504.908,0.575819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
2,2,1920-10-03,1920,0,NaN,RII,MUN,1516.108,1478.004,0.644171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,3,1920-10-03,1920,0,NaN,CHI,MUT,1368.333,1300.000,0.682986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,0.0
4,4,1920-10-03,1920,0,NaN,CBD,PTQ,1504.688,1300.000,0.825267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0

In [18]:
df = df.loc[df["season"] >= 1970].iloc[:,1:]

In [19]:
df = df.drop(df.filter(regex='post').columns, axis=1).drop(df.filter(regex='team').columns, axis=1).drop(['playoff','qb1','qb2'],axis=1)

In [20]:
df.head()

,date,season,neutral,elo1_pre,elo2_pre,elo_prob1,elo_prob2,qbelo1_pre,qbelo2_pre,qb1_value_pre,qb2_value_pre,qb1_adj,qb2_adj,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,score1,score2
4549,1970-09-18,1970,0,1583.202,1426.127,0.782172,0.217828,1575.663197,1419.063694,128.244691,49.900901,3.032010,-7.537612,0.787242,0.212758,243.822534,28.506966,34.0,13.0
4550,1970-09-19,1970,0,1475.119,1382.173,0.712839,0.287161,1468.322928,1392.110372,157.629495,62.866097,10.160311,-4.850528,0.702241,0.297759,140.963726,132.279803,16.0,24.0
4551,1970-09-20,1970,0,1396.972,1638.776,0.265463,0.734537,1395.779057,1634.838107,71.546016,134.503032,-3.150676,2.057148,0.260615,0.739385,219.250540,27.106771,31.0,21.0
4552,1970-09-20,1970,0,1458.876,1488.866,0.550214,0.449786,1462.726939,1484.068018,125.979821,149.501039,9.231151,9.183276,0.562264,0.437736,212.206074,79.655056,26.0,17.0
4553,1970-09-20,1970,0,1386.799,1436.731,0.521671,0.478329,1369.469608,1428.578167,-13.376009,25.344557,-19.863256,-15.919508,0.496323,0.503677,-21.695933,-45.285307,10.0,25.0