In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('../data/historic_nfl_elo.csv')

In [78]:
df.head()

,Unnamed: 0,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,0,1920-09-26,1920,0,NaN,RII,STP,1503.947,1300.000,0.824651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0
1,1,1920-10-03,1920,0,NaN,DAY,COL,1493.002,1504.908,0.575819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0
2,2,1920-10-03,1920,0,NaN,RII,MUN,1516.108,1478.004,0.644171,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,0.0
3,3,1920-10-03,1920,0,NaN,CHI,MUT,1368.333,1300.000,0.682986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,0.0
4,4,1920-10-03,1920,0,NaN,CBD,PTQ,1504.688,1300.000,0.825267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,0.0

In [79]:
df = df.loc[df["season"] >= 1970].iloc[:,1:]

In [80]:
def count_na(df):
    """
    counts rows in which there is an NA value.
    run time of O(d*n)
    """
    count = 0
    for i in range(len(df.index)) :
        if df.iloc[i].isnull().sum() > 0:
            count +=1
    return count

In [81]:
count_na(df)

11495

In [82]:
df = df.drop(df.filter(regex='post').columns, axis=1).drop(df.filter(regex='team').columns, axis=1).drop(['playoff','qb1','qb2','date','qb1_adj','qb2_adj'],axis=1)

In [83]:
count_na(df)

3

In [84]:
def f(df):
    if df['score1'] == df['score2']:
        val = 'tie'
    elif df['score1'] > df['score2']:
        val = 'winner'
    else:
        val = 'loser'
    return val

In [85]:
df['status'] = df.apply(f, axis = 1)
df = df.drop(['score1','score2'],axis=1).dropna()

In [86]:
count_na(df)

0

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11992 entries, 4549 to 16540
Data columns (total 15 columns):
season            11992 non-null int64
neutral           11992 non-null int64
elo1_pre          11991 non-null float64
elo2_pre          11991 non-null float64
elo_prob1         11991 non-null float64
elo_prob2         11991 non-null float64
qbelo1_pre        11989 non-null float64
qbelo2_pre        11989 non-null float64
qb1_value_pre     11991 non-null float64
qb2_value_pre     11991 non-null float64
qbelo_prob1       11991 non-null float64
qbelo_prob2       11991 non-null float64
qb1_game_value    11989 non-null float64
qb2_game_value    11989 non-null float64
status            11992 non-null object
dtypes: float64(12), int64(2), object(1)
memory usage: 1.5+ MB

In [71]:
df.head()

,season,neutral,elo1_pre,elo2_pre,elo_prob1,elo_prob2,qbelo1_pre,qbelo2_pre,qb1_value_pre,qb2_value_pre,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,status
4549,1970,0,1583.202,1426.127,0.782172,0.217828,1575.663197,1419.063694,128.244691,49.900901,0.787242,0.212758,243.822534,28.506966,winner
4550,1970,0,1475.119,1382.173,0.712839,0.287161,1468.322928,1392.110372,157.629495,62.866097,0.702241,0.297759,140.963726,132.279803,loser
4551,1970,0,1396.972,1638.776,0.265463,0.734537,1395.779057,1634.838107,71.546016,134.503032,0.260615,0.739385,219.250540,27.106771,winner
4552,1970,0,1458.876,1488.866,0.550214,0.449786,1462.726939,1484.068018,125.979821,149.501039,0.562264,0.437736,212.206074,79.655056,winner
4553,1970,0,1386.799,1436.731,0.521671,0.478329,1369.469608,1428.578167,-13.376009,25.344557,0.496323,0.503677,-21.695933,-45.285307,loser

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11992 entries, 4549 to 16540
Data columns (total 19 columns):
date              11992 non-null object
season            11992 non-null int64
neutral           11992 non-null int64
elo1_pre          11991 non-null float64
elo2_pre          11991 non-null float64
elo_prob1         11991 non-null float64
elo_prob2         11991 non-null float64
qbelo1_pre        11989 non-null float64
qbelo2_pre        11989 non-null float64
qb1_value_pre     11991 non-null float64
qb2_value_pre     11991 non-null float64
qb1_adj           11992 non-null float64
qb2_adj           11992 non-null float64
qbelo_prob1       11991 non-null float64
qbelo_prob2       11991 non-null float64
qb1_game_value    11989 non-null float64
qb2_game_value    11989 non-null float64
score1            11989 non-null float64
score2            11989 non-null float64
dtypes: float64(16), int64(2), object(1)
memory usage: 1.8+ MB